@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model System.Collections.ArrayList
@using Web_Practice5_Template.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>

    <link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="screen" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/Content/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/hideshow.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jquery.equalHeight.js"></script>

</head>
<body>
    <div>
        <div class="col-lg-9">
            <table class="table" style="border:solid; margin-top:20px;">
                <thead>
                    <tr class="btn-primary" style="text-align:center">
                        <th>Delete</th>
                        <th>Edit</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>User Name</th>
                        <th>Password</th>
                    </tr>
                </thead>

                @foreach (User obj in Model)
                {
                    if (!obj.uname.Equals("admin"))
                    {
                        <tr>
                            <td><a href="/AdminControl/DeleteUser/@obj.Id">Delete</a></td>
                            <td><a href="/AdminControl/Edit/@obj.Id">Edit</a></td>
                            <td>@obj.fname</td>
                            <td>@obj.lname</td>
                            <td>@obj.email</td>
                            <td>@obj.uname</td>
                            <td>@obj.password</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>
</html>
