@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@model System.Collections.ArrayList
@using Web_Practice5_Template.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayService</title>

    <link href="dropDown.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/showHide.js" type="text/javascript"></script>

</head>
<body>
    <div>
        <div class="header-content">

            <div class="wrap main" style="background-color:aqua; width:700px; margin-left:350px; border-radius:15px;">
                    <img style="margin-top: 8px; border-radius: 10px;" src="/ServiceFiles/@ViewBag.picture" alt="" class="img-radius" height="200" width="250" />
                    <div class="border-1">
                        <h3><span class="label label-success">@ViewBag.name</span></h3>
                        <p>@ViewBag.description</p>
                    </div>
                <div style="float: left; background-color: aqua; border-radius: 10px; width: 700px; margin-top:20px;">
                    @foreach (ServiceComment c in Model)
                    {
                        My_DatabaseEntities ent = new My_DatabaseEntities();
                        User u = ent.Users.First(x => x.Id == c.userId);
                        
                        <div style="margin-left:20px;">
                            <div style="float:left;">
                                <img src="/ProfileImages/@u.profile" width="40" height="40" />
                                <label>@(u.fname + " " + u.lname):</label>
                            </div>
                            <div style="float:left; margin-top:10px; margin-left:5px;">
                                <p>@c.comments</p>
                            </div>
                        </div>
                        <br />
                    }
                </div>

                @if(Session["user"] != null)
                {
                    <form action="/Home/Comment/@ViewBag.Id" method="post" style="margin:auto;">
                        <div>
                            <input type="hidden" name="serviceID" value="@ViewBag.Id" />
                            <textarea placeholder="Type a comment" name="comment" rows="7" cols="60" style="float:left; margin-left:10px;"></textarea>
                            <input type="submit" class="btn btn-primary" value="Comment" />
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</body>
</html>
