@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Web_Practice5_Template.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />    
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />

   

        
    <!--
        /*document.addEventListener('play', function (e) {
            var audios = document.getElementById('audio');

            for (var i = 0, len = audios.length; i < len; i++) {
                if (audios[i] != e.target) {
                    audios[i].pause();
                }
            }
        }, true);

        $(document).ready(function () {
            $("#btn").click(function () {
                $.ajax({
                    type: "POST", contentType: "application/json; charset=utf-8", Url: "HomeControl/AddNewUser", data: "('name':'" + $('#name').val() + "'}", async: false, success: function (response) {
                        $("#name").val("");
                        alert("Saved");
                        return true;
                    },
                    error: function () {
                        alert("User exists.");
                        return false;
                    }
                });
            });
        });
        */
        -->
    <script>
        /*function checkUserAvailability() {
            var email = $("#email").val();
            var uname = $("#uname").val();

           
            $.ajax({
            type:"POST",
            url:"home/checkAvailability",

            data: ('email:',email,'')
                .success(function (result) {
                    $('#Message').html(result);
                })

                .error(function (xhr, status) {
                    $('#Message').html(result);
                })
        }
        */
    </script>

</head>
<body>
    <script type="text/javascript">
    /*    $(function () {
            $('#btnSignUp').click(function () {
                var email = $('#email').val();
                var username = $('#uname').val();
                var msg = $('#Message');

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "Default.aspx/IsAlreadyAvailable",
                    data: "{'email':'" + email + "', 'uname':'" + username + "'}",
                    dataType: "json",
                    success: function (data) {
                        var obj = data.d;
                        if (obj == 'true') {
                            msg.val("User already exists.");
                        }
                        else
                            msg.val("Valid User.");
                    }
                })
            })
        });
        */
    </script>
    <div class="col-lg-12">
        <div class="col-lg-6" style="margin-top:30px; margin-left:30px; background-color:aqua; width:400px; height:300px; border-radius:10px;">
            <div class="container" style="font-family:Calibri ; color:blue; margin-top:20px; margin-left:30px;">
                <div class="row">
                    <div class="col-md-offset-0 col-md-3">
                        <div class="form-login">

                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control input-sm chat-input", @placeholder = "Email", @required="required" })
                                <br />
                                
                                @Html.TextBoxFor(m => m.password, new { @class = "form-control input-sm chat-input", @placeholder="Password", @required="required", @type="password"})
                                <br />
                                
                                <label class="checkbox"><input type="checkbox" name="remember">Keep me logged in</label>
                                <br />
                                
                                <input type="submit" id="btn" value="Login" />
                            }
                            <h3>@ViewBag.SignInMessage</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       
        <!--Sign Up form-->
        <div class="col-lg-6" style="margin-top:30px; margin-left:300px; background-color:aqua; width:500px; height:450px; border-radius:10px;">
            <div class="container" style="font-family:Calibri ; color:blue; margin-top:20px; margin-left:90px;">
                <div class="row">
                    <div class="col-md-offset-0 col-md-3">
                        <div class="form-login">

                            @using (Html.BeginForm("AddNewUser", "Home", FormMethod.Post))
                            {
                                @Html.TextBoxFor(m => m.fname, new { @class = "form-control input-sm chat-input", @placeholder = "First Name", @required = "required" })
                                <br />

                                @Html.TextBoxFor(m => m.lname, new { @class = "form-control input-sm chat-input", @placeholder = "Last Name", @required = "required" })
                                <br />

                                <input type="text" class="form-control input-sm chat-input" placeholder="Email" id="email" required/>
                                //@Html.TextBoxFor(m => m.email, new { @class = "form-control input-sm chat-input", @placeholder = "Email", @required = "required", @id = "email"})
                                <br />
                                
                                @Html.TextBoxFor(m => m.uname, new { @class = "form-control input-sm chat-input", @placeholder = "User Name", @required = "required", @id = "uname"})
                                <br />
                                
                                <button type="button" class="btn btn-info" onclick="checkUserAvailability()" id="btnSignUp" >Check Availability</button>
                                <br />
                                
                                <p id="Message"></p>
                                <br />
                                
                                @Html.TextBoxFor(m => m.password, new { @class = "form-control input-sm chat-input", @placeholder = "Password", @required = "required", @type = "password" })
                                <br />

                                <label class="checkbox"><input type="checkbox" name="agree">I agree with the terms</label>
                                <br />

                                <input type="submit" value="Sign Up" />
                            }
                            <h4>@ViewBag.SignUpMessage</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>